@CHARSET "UTF-8";

/* #main-contents{ */
/*     width: 400px; */
/*     margin: 30px auto; */
/*     padding: 20px; */
/*     border: 1px solid #555; */
/*     } */

form p{
    font-size: 14px;
    }

.form-title{
	text-align: center;
}

.main-contents{
    text-align: center;
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
    }

input[type="login_id"],
input[type="password"] {
    width: 300px;
    padding: 4px;
    font-size: 14px;
    }

.submit{
    text-align: right;
    }
